.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu_list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 26px;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  text-underline-offset: 0.25em;
  list-style: circle;
}

.header__logo {
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}

.address_header_position {
  justify-self: end;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
}

.header_address {
  justify-self: end;
  line-height: 1.5;
  text-underline-offset: 0.25em;
  list-style: none;
}

.cover {
  position: relative;
  z-index: -2;
  padding: 165px 50px 50px;
  background-image: url("/images/cover.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 60%;
  background-color: black;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.286;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  justify-content: flex-start;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  margin-right: -0.3em;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 106px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 0.8em;
}

.bet-button {
  border-width: 1px;
  border-color: white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-bottom: 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.card {
  position: relative;
  width: 334px;
  height: 596px;
  padding: 48px 40px;
  color: white;
}

.card_type_film {
  z-index: -2;
  background-image: url("/images/card-lot-01.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.card_type_book {
  z-index: -2;
  background-image: url("/images/card-lot-02.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.card_type_picture {
  z-index: -2;
  background-image: url("/images/card-lot-03.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.card__title {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
}

.look_more {
  display: block;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.about {
  margin-right: 24px;
  margin-bottom: 180px;
  margin-left: 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 240px 693px;
  justify-content: center;
  grid-gap: 72px;
}

.about__logo {
  display: flex;
  justify-self: right;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 100rcap;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about_information {
  justify-self: left;
  margin-top: 133px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-size: 20px;
}

.about_paragraph-one {
  width: 688px;
}

.section_auction_name {
  margin-bottom: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  margin-right: 50px;
  margin-bottom: 82px;
  margin-left: 50px;
}

.footer_address {
  line-height: 1.5;
  text-underline-offset: 0.25em;
  list-style: none;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  line-height: 1.5;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active {
  text-underline-offset: 0.25em;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: auto;
}
